<% if note.errors.any?%>
  <ul>
   <% note.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  </ul>
<% end %>
<%= form_for(note) do |c| %>
  <%= c.label :title, "標題" %>
  <%= c.text_field :title %>

  <%= c.label :content, "內文" %>
  <%= c.text_area :content %>
  <%= c.submit "送出" %>
<% end %>