<h1>筆記列表</h1>
<%# <a href="/notes/new">新增筆記</a> %>
<%# <%= link_to "新增筆記", "/notes/new" %>
<%= link_to "新增筆記", new_note_path %>
<ul>
<% @notes.each do |note| %> 
  <li>
     <%= link_to note.title,note_path(note) %>
     <%= link_to "編輯", edit_note_path(note) %>
     <%= link_to "刪除", note_path(note),
                         method: 'delete',
                         data: { confirm: '確定嗎？', id: note.id } %>
                        <%# #  "data-confirm": "確定嗎？" %> 
  </li>
  <% end %>
</ul>  
<%# 最推薦第四行 %>
<%# <%= link_to "新增筆記", new_note_url %>  
<%# view helper %>
<%# 麵條式程式碼  第四行%>
<%# 有輸出在+等號 %>
